@mixin font($size, $weight, $lineHeight) {
    font-size: #{$size}rem;
    font-weight: $weight;
    line-height: #{$lineHeight}rem;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin fadeIn($time: 0.3s) {
  animation: fadeIn 0.3s,;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}